.container {
  padding: 20px;
}

.appIcon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-left: 10px;
}

.appIcon:hover {
  border: 1px solid #08c;
}

.iconSuccess {
  color: #00a854;
  position: relative;
  left: 35px;
  top: 25px;
}

.appIcon.success {
  border: 1px solid #00a854;  
}

.appIcon.fail {
  border: 1px solid #ed612b;  
}

.appIcon.running {
  animation: rotate 3s linear infinite;
}

.cellWrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 20px;
  background: #fff;
}

.cell {
  display: flex;
  align-items: center;  
  cursor: pointer;
  height: 72px;  
}

.cell .row, .toolbar, .menuItem {
  display: flex;
  align-items: center;
}

.cell .title {
  font-size: 14px;
  color: #5f6c72;
  margin-left: 20px;
  flex: 1;
}

.addNew {
  margin-left: 20px;
  font-size: 16px;
  color: #ccc;
}

.toolbar {
  display: flex;
  align-items: center;
}

.loading {
  font-size: 30px;
  color: #08c;
  margin-top: 250px;
}

.menuIcon {
  margin-right: 5px;
  color: inherit;
  font-size: 14px;
}

.menuItem:hover {
  color: #08c;
}

.gmail {
  background: transparent url('../../resources/apps/gmail.png') no-repeat center center;
  background-size: 28px;  
}

.drive {
  background: transparent url('../../resources/apps/drive.png') no-repeat center center;
  background-size: 28px;    
}

.trello {
  background: transparent url('../../resources/apps/trello.png') no-repeat center center;
  background-size: 28px;    
}

@keyframes rotate {
  from{
    transform:rotate(0deg)
  }
  to{
    transform:rotate(360deg)
  }
}
